{% extends "layout.html" %}{% block title %}查看记录{% endblock %}
{% block css %}<style>header h1 { font-size: 2.5rem; margin: 1rem 0; } @media (max-width: 295px) { body::before { height: 6rem; } }
#controls, #records { text-align: center; }
#records h2 { font-size: 1.6rem; } table { margin: 0 auto; text-align: center; border-collapse: collapse; font-family: 'Microsoft YaHei'; }
tr { border-top: 0.08rem solid white; } th, td { padding: 0.6rem 0.8rem; min-width: 3rem; } td:nth-of-type(even) { min-width: 8rem; }
#htmlEscape { display: none; }</style>{% endblock %}
{% block head %}<script src="/static/js/jquery/form.js"></script><script src="/static/js/alert.js"></script><script src="/static/js/tools.js"></script>{% endblock %}
{% block nav %}<a href="/" title="首页">首页</a>{% endblock %}{% block header %}<h1>查看记录</h1>{% endblock %}
{% block main %}<div id="controls"><button id="search">查找</button></div>
<div id="records"><h2>记录列表</h2><table><thead><tr><th>ID</th><th>姓名</th><th>学号</th><th>时间</th><th>状态</th></tr></thead><tbody></tbody></table></div>
<div id="htmlEscape"></div><script>
function getStudent(done) {
	if (!window.students) {
		$.ajax('/student/get').done(res => window.students = res.data).done(done);
	} else {
		return window.students;
	}
}
function getRecord() {
	return $.ajax('get').done(function (data) {
		if (data.code === 0) {
			$('table').html('<thead><tr><th>ID</th><th>姓名</th><th>学号</th><th>时间</th><th>状态</th></tr></thead><tbody></tbody>');
			$('#no-data').remove(); $(data.data).each(function(){
				var data = students.find(ele => ele[3] === this[1]),
					name = data[1],
					status = {i: '签到', o: '签退'}[this[3]];
					timeStr = this[2].replace(/^(\d\d\d\d-\d\d-\d\d)T(\d\d:\d\d):\d\d\+08:00$/, '$1 $2'),
					title = this[2].replace(/^(\d\d\d\d)-(\d\d)-(\d\d)T(\d\d):(\d\d):(\d\d)\+08:00$/, '$1年$2月$3日$4时$5分$6秒');
				$('tbody').append(`<tr><td>${this[0]}</td><td>${name}</td><td>${this[1]}</td><td title="${title}">${timeStr}</td><td>${status}</td></tr>`);
			});
		} else if (data.code === 2) { $('table').html(''); $('#records').append('<div id="no-data" style="font-size:1.3rem">无数据！</div>'); }
		else { $('table').html(''); noLogin(); }
	});
}
$('#search').click(function () {
	inputAjax('查询学生考勤记录', '请输入要查询的学生的学号：', 'number', { required: 'required', min: 1000000000, max: 9999999999 }, '请输入学生的学号', '查询', 'get', 'GET', 'SID',
		function (data) {
			console.log(data.data);
			const [steps, htmls] = [[], []];
			for (let i in data.data) {
				steps.push(i - (-1));
			}
			for (let one of data.data) {
				// one: [ID, 学号, 时间, I/O]
				time = one[2].replace(/^(\d\d\d\d)-(\d\d)-(\d\d)T(\d\d):(\d\d):(\d\d)\+08:00$/, '$1年$2月$3日$4时$5分$6秒');
				htmls.push({html: `时间：<span title="${time}">${time}</span><br/>状态：${ {i: '签到', o: '签退'}[one[3]] }`});
			}
			Swal.mixin({
				title: htmlEscape(students.find(student => student[3] === data.data[0][1])[1]) + '的数据',
				showCancelButton: true,
				confirmButtonText: '下一条',
				cancelButtonText: '取消',
				progressSteps: steps,
				footer: '学号：' + data.data[0][1]
			}).queue(htmls);
		},
		function (data, code) { if (code === 2) { Swal.fire('未查询到数据', htmlEscape(data.msg), 'error'); } }, '查询失败！');
}); getStudent(getRecord);</script>{% endblock %}