{% extends "layout.html" %}{% block title %}学生管理{% endblock %}
{% block css %}<style>header h1 { font-size: 2.5rem; margin: 1rem 0; } @media (max-width: 295px) { body::before { height: 6rem; } }
form { text-align: center; } .formDiv { background: #353535; display: inline-block; padding: 1.2rem 1.5rem 2rem; }
label { display: block; margin: 0.7rem 0; font-size: 1.2rem; } label label { display: inline; margin: 0; font-size: 1.3rem; } .inputs { margin: 1.6rem 0; }
.buttons button { padding: 0.3rem 0.8rem; font-size: 1.15rem; } .buttons button:first-of-type { margin-right: 1.5rem; }
[type='radio']+label::before { content: '-'; color: rgba(0, 0, 0, 0); border-radius: 50%;
	display: inline-block; width: 1.3rem; height: 1.3rem; border: 0.1rem solid #0AF; }
[type='radio']:checked+label::before { background: #0AF; } label label:first-of-type { margin: 0 0.4rem; }
#insert, #update { position: fixed; transform: translate(-50%, -50%); left: 50%; top: -50rem; transition: 0.5s top; z-index: 110; }
#closeAdd, #closeUpdate { width: 1rem; height: 1rem; display: inline-block; cursor: pointer; position: absolute; top: 1.2rem; right: 1.2rem; }
#controls, #students { text-align: center; } #controls button:first-of-type { margin-right: 2rem; }
#students h2 { font-size: 1.6rem; } table { margin: 0 auto; text-align: center; border-collapse: collapse; font-family: 'Microsoft YaHei'; }
tr { border-top: 0.08rem solid white; } th, td { padding: 0.6rem 0.8rem; min-width: 3rem; } td:nth-last-of-type(even) { min-width: 8rem; }
.editStudent, .removeStudent { vertical-align: baseline; cursor: pointer; } .editStudent { margin-right: 0.5rem; }
#update [name="ID"] { width: 8rem; margin-right: 1rem; } #htmlEscape { display: none; }
.swal2-container { font-family: 'Microsoft YaHei'; } .swal2-popup, .swal2-validation-message { background: #111 !important; }
.swal2-header, .swal2-content, .swal2-footer { color: white !important; } .swal2-title { color: #CCC !important; }</style>{% endblock %}
{% block head %}<link rel="preload" href="/static/js/jquery/mobile/images/icons-svg/edit-white.svg"/>
<link rel="preload" href="/static/js/jquery/mobile/images/icons-svg/delete-white.svg"/>
<script src="/static/js/jquery/3.5.1.js"></script><script src="/static/js/jquery/form.js"></script><script src="/static/js/sweetalert2-10.3.5.js"></script>{% endblock %}
{% block nav %}<a href="/" title="首页">首页</a>{% endblock %}
{% block header %}<h1>学生管理</h1>{% endblock %}
{% block main %}<div id="controls"><button id="openAdd">添加学生</button><button id="search">查找学生</button></div>
<form id="insert"><div class="formDiv"><img id="closeAdd" src="/static/js/jquery/mobile/images/icons-svg/delete-white.svg" alt="Close" /><h2>请填写学生信息</h2>
<div class="inputs"><label>姓名：<input name="Name" placeholder="请输入姓名" required type="text"/></label>
	<label>性别：<input name="Sex" id="male" type="radio" value="男" hidden/><label for="male" tabindex="0">男</label>
		<input name="Sex" id="female" type="radio" value="女" hidden/><label for="female" tabindex="0">女</label></label>
	<label>学号：<input name="SID" placeholder="请输入学号" required type="number" min="1000000000" max="9999999999"/></label></div>
<div class="buttons"><button type="reset">重置</button><button type="submit">添加</button></div></div></form>
<form id="update"><div class="formDiv"><img id="closeUpdate" src="/static/js/jquery/mobile/images/icons-svg/delete-white.svg" alt="Close" /><h2>请修改信息</h2>
<div class="inputs"><label>ID：<input name="ID" type="text" required readonly/>只读</label>
	<label>姓名：<input name="Name" placeholder="请输入姓名" required type="text"/></label>
	<label>性别：<input name="Sex" id="maleUpdate" type="radio" value="男" hidden/><label for="maleUpdate" tabindex="0">男</label>
		<input name="Sex" id="femaleUpdate" type="radio" value="女" hidden/><label for="femaleUpdate" tabindex="0">女</label></label>
	<label>学号：<input name="SID" placeholder="请输入学号" required type="number" min="1000000000" max="9999999999"/></label></div>
<div class="buttons"><button type="button" id="resetUpdate">重置</button><button type="submit">修改</button></div></div></form>
<div id="students"><h2>学生列表</h2><table><thead><tr><th>ID</th><th>姓名</th><th>性别</th><th>学号</th><th>控制</th></tr></thead><tbody></tbody></table></div>
<div id="htmlEscape"></div><script>
function getStudents() {
	$.ajax('/student/get').done(function(data){
		if (data.code === 0) { $('tbody').html(''); $(data.data).each(function(){ $('tbody').append(`<tr><td>${this[0]}</td><td>${htmlEscape(this[1])}</td><td>${this[2]}</td>\
<td>${htmlEscape(this[3])}</td><td><img data-id="${this[0]}" class="editStudent" src="/static/js/jquery/mobile/images/icons-svg/edit-white.svg" alt="修改学生" title="修改此学生" />
<img data-id="${this[0]}" class="removeStudent" src="/static/js/jquery/mobile/images/icons-svg/delete-white.svg" alt="删除学生" title="删除此学生" /></td></tr>`);
		}); }
		else if (data.code === 2) { $('table').html(''); $('#students').append('<div style="font-size:1.3rem">无数据！</div>'); } else { $('table').html(''); noLogin(); }
	});
}
function sudo(success) { return Swal.fire({ title: '敏感操作验证', text: '请输入此账户的密码：', input: 'password', inputAttributes: { required: 'required' },
	showCancelButton: true, confirmButtonText: '验证', icon: 'question', inputPlaceholder: '请输入此账户的密码', cancelButtonText: '取消', showLoaderOnConfirm: true,
	allowOutsideClick: e => !Swal.isLoading(), preConfirm: Password => $.ajax('/sudo', { type: 'post', data: { Password } }).done(function (data) {
		switch (data.code) {
			case 0: Swal.fire('成功', `${htmlEscape(data.msg)}30分钟内无需再次验证！`, 'success').then(success); break;
			case 5: Swal.fire('提示', htmlEscape(data.msg), 'info').then(success); break;
			case 7: noLogin(); break; default: Swal.fire('失败', htmlEscape(data.msg), 'error');
		} }).fail(function (xhr, error, text) { console.log(xhr); console.log(`${error}: ${text}`); Swal.fire('验证失败！', '详细信息请见控制台！', 'error'); }) });
}
function noLogin() { return Swal.fire('您未登录', '<a href="/login?r=/student">点此去登录</a>', 'warning'); }
function getAjaxConfig(url, info, inputsLength, success, sudoSuccess) { return { url, type: 'post', dataType: 'json', success: function (data) {
	switch (data.code) { case 0: Swal.fire('成功', htmlEscape(data.msg), 'success').then(success); break; case 7: noLogin(); break; case 8: sudo(sudoSuccess); break;
		default: Swal.fire('失败', htmlEscape(data.msg), 'error');
	} }, error: function (xhr, error, text) { console.log(xhr); console.log(`${error}: ${text}`); Swal.fire(info + '失败！', '详细信息请见控制台！', 'error');
	}, beforeSubmit: function (arr) { console.log(arr); if (arr.length !== inputsLength) { Swal.fire('提示', '请选择性别！', 'warning'); return false; } } };
}
function htmlEscape(html) { var r = $('#htmlEscape').text(html).html(); $('#htmlEscape').html(''); return r; }
$('table').on('click', '.editStudent', function(){ var self = $(this); $('#update [name="ID"]').val(self.data().id);
	$('#update [name="Name"]').val(self.parent().parent().children()[1].innerText);
	$(`#update [name="Sex"][value="${self.parent().parent().children()[2].innerText}"]`)[0].checked = true;
	$('#update [name="SID"]').val(self.parent().parent().children()[3].innerText); $('#update').css('top', '35%');
});
$('table').on('click', '.removeStudent', function(){
	var self = $(this), ID = self.data().id;
	Swal.fire({ title: '删除学生', text: `你确定要删除ID为${ID}的学生“${self.parent().parent().children()[1].innerText}”吗？`, icon: 'warning',
		cancelButtonText: '取消', showCancelButton: true, confirmButtonText: '确定' }).then(function(e){ if (e.isConfirmed) {
		$.ajax('/student/remove', { type: 'post', data: { ID } }).done(function(data){
			switch (data.code) {
				case 0: Swal.fire('成功', htmlEscape(data.msg), 'success').then(getStudents); break;
				case 7: noLogin(); break;
				case 8: sudo(function(){ $(`.removeStudent[data-id="${ID}"]`).click(); }); break;
				default: Swal.fire('失败', htmlEscape(data.msg), 'error');
			} }).fail(function (xhr, error, text) { console.log(xhr); console.log(`${error}: ${text}`); Swal.fire('删除失败！', '详细信息请见控制台！', 'error'); }); } });
});
$('#closeUpdate').click(function () { $('#update').css('top', '-50rem'); });
$('#openAdd').click(function () { $('#insert').css('top', '35%'); });
$('#closeAdd').click(function () { $('#insert').css('top', '-50rem'); });
$('[for]').keydown(function (e) { if (e.keyCode === 13) { $('#' + $(this).attr('for'))[0].checked = true; } });
$('#insert').ajaxForm(getAjaxConfig('/student/insert', '添加', 3, getStudents, function(){$('#insert [type="submit"]').click();}));
$('#update').ajaxForm(getAjaxConfig('/student/update', '修改', 4, getStudents, function(){$('#update [type="submit"]').click();}))
$('#resetUpdate').click(function(){ $(`.editStudent[data-id="${$('#update [name="ID"]').val()}"]`).click(); });
$('#search').click(function(){
	Swal.fire({ title: '查询学生', text: '请输入要查询的学生的学号：', input: 'number', inputAttributes: { required: 'required', min: 1000000000, max: 9999999999 },
		icon: 'question', inputPlaceholder: '请输入学生的学号', cancelButtonText: '取消', showCancelButton: true, confirmButtonText: '查询', showLoaderOnConfirm: true,
		allowOutsideClick: e => !Swal.isLoading(), preConfirm: SID => $.ajax('/student/get', { data: { SID } }).done(function (data) {
			if (data.code === 0) { var d = data.data;
				Swal.fire('已查询到数据', `ID: ${d[0]}<br/>姓名：${htmlEscape(d[1])}<br/>性别：${d[2]}<br/>学号：${htmlEscape(SID)}`, 'success');
			} else if (data.code === 2) { Swal.fire('未查询到数据', htmlEscape(data.msg), 'error'); } else { noLogin(); }
		}).fail(function (xhr, error, text) { console.log(xhr); console.log(`${error}: ${text}`); Swal.fire('验证失败！', '详细信息请见控制台！', 'error'); }) });
});getStudents();</script>{% endblock %}